body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: black;

}
html, body {
    min-height: 100%;
}


@font-face {
    font-family: Maitree;
    src: url('assets/fonts/MaitreeExtraLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p{
    font-family: 'Maitree', sans-serif;
}

.text{
    font-family: 'Maitree', sans-serif;
}

